{{define "header_extra"}}
	      <div style="display:flex;align-items:center;align-content: flex-start;justify-content: flex-start;">
		 <div class="header_logo" >
	        </div>
	        <div class="h4 header_title_text">
			Cloud-Gate
		</div>
              </div>
{{end}}
