{{define "header_extra"}}
	      <div style="display:flex;align-items:center;align-content: flex-start;justify-content: flex-start;">
		 <div class="header_logo" >
		 <img src="/custom_static/CPEdarkBG.svg" style="height:28px">
	        </div>
	        <div class="header_title_text">
			Cloud-Gate
		</div>
              </div>
{{end}}
